a{
	cursor: pointer;
}
body{
	margin : 0;
	padding : 0;
	background-color: #ededed;

}



#body100{
	width : 100%;
	background-color:rgb(76, 143, 150);
	height : 134px;

}
#nav_bar{
	width : 80%;
	margin : auto;
	display : flex;	
	height : 134px;
	flex-direction: row;
}
#logo{
	height : 134px;
	width : 40%;
	box-sizing: content-box;
}
#block{
	margin-top : 20px;
	background-color: rgb(1, 1, 51);
	height : 130px;
	color : white;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Arimo Bold';
	font-size : 60px;
	width : 270px;
	font-family: 'Arimo', sans-serif;
}
#nav_index{
	height : 134px;
	width : 60%;
}
ul#nav{
	height : 110px;
	display: flex;	margin-top : 0px;
	padding-top: 83px;
	box-sizing: border-box;
	margin-bottom: 0px;
	justify-content: space-between;
	align-items: flex-start;
	line-height: 1;
	
}
.nav a{
	padding : 3px 15px;
	box-sizing: border-box;
	color : white;
	text-transform: uppercase;
	text-decoration: none;
	background-color: rgb(1, 1, 51);
	letter-spacing: 0.05em;
	border-radius: 5px;
}
#main_pic{
	width : 80%;
	margin : 84px auto 28px;
	background-color: white;

}
/* #img img{
	width 
} */
#main_pic{
	display: flex;
	height : 356px;
	border : 2px solid #5fb3bd;

}
#img{
	width : 40%;
	height: 356px;
}
#quote1{
	width : 60%;
	height : 240px;
	padding-top: 110px;
	font-family: 'Changa One', cursive;
	color :#1B2130;
	font-size: 20px;
	text-align: left;
	padding-left : 20px;
	padding-right :20px; 
	box-sizing: border-box;

}
#haircut{
	padding-top : 10px;
	display: flex;
	width : 80%;
	box-sizing: border-box;
	margin : auto;
	height : 470px;
	flex-direction: column;
	margin-bottom: 50px;
}
ul.feature_images{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	padding-left: 0;
}
#haircut img{
	/* width : 80%; */
	border : 5px solid #5fb3bd;
	box-shadow: 0px 4px 4px #444444;
	box-sizing: border-box;
}
ul.features{
	margin-top: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0px;
} .features li{
	text-align: left;
	width : 220px;
	padding : 10px 0px 5px;
	font-size: 12px;
	font-weight: normal;
	font-family: 'Arial Narrow', Helvetica, sans-serif;
}
ul.text_info{
	display: flex;
	padding-left: 0%;
	justify-content: space-between;
}
.text_info li{
	text-align: left;
	width : 220px;
}
#footer{
	
	padding: 35px 0px;
	background-color: rgb(76, 143, 150);

}
footer{
	width : 80%;
	/* padding : 0% 0%; */
	margin: auto;
	display: flex;
	flex-direction: row;
	height : 36px;
	align-items: center;
	padding-right: 0px;
}
#copyright{
	width : 60%;
	padding-left : 20%;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color : white;
	box-sizing: border-box;
	margin-right: 0px;
	text-align: center;
}
#social_links{
	width : 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #387A82 ;
	height: 36px;
	align-items: center;
	margin-left: 5%;

}
#blank{
	width : 100%;
	height : 7vh;
}
#nav a:enabled{
	background-color: #387A82;
}
#nav a:hover{
	color : rgb(76, 143, 150);
}
#experiences{
	display: flex;
	flex-direction: row;
	width : 80%;
	margin : auto;
	margin-bottom : 60px;
	box-sizing: border-box;
}
#featured{
	background-color: white;
	width :50%;
	padding : 10px;
	box-sizing: border-box;
	border: 6px solid #5fb3bd;
	/* background-image: url('https://freewebsitetemplates.com/preview/hairstylesalon/images/featured.jpg'); */
	background-position: top left;
	background-repeat: no-repeat;
	border-radius: 5px;
	position: relative;
}
#hairstyle{
	width : 50%;
	display: flex;
	flex-direction: column;
	/* border: 2px solid #387A82; */
	margin-left : 15px;
	align-items: flex-start;
	/* padding : 10px; */
}

 #featured p{
	margin-bottom : 24px;
	font-family: Arial, Helvetica, sans-serif;
	color:#464646;
	font-size: 16px;
}

#designed{
	border: 6px solid #5fb3bd;
	background-color: rgb(76, 143, 150);
	padding : 10px;
	font-family: Arial, Helvetica, sans-serif;
	color : #F5F5F5;	
	font-size: 12px;
	border-radius: 5px;
	position : relative;
}
#bald{
	margin-top : 5vh;
	border: 6px solid #5fb3bd;
	background-color: #519194;
	padding : 10px;
	color : #F5F5F5;
	display: flex;
	flex-direction: row;
	line-height: 30px;
	position: relative;
	height : 200px;
}
#bald p {
	padding-top: 20px;
	font-size: 14px;
	padding-left :200px;
	line-height: 1;
}
h3{
	padding-left : 10%;
	margin-bottom: 40px;
	font-size: 20px;
	color : #354057;
	font-weight: normal;
}

#flex_image{
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
}
#bald img{
	position: absolute;
    bottom: -10px;
    margin-right: 25px;
}
#featured h2{
	position: absolute;
	top : -45px;
	color : white;
	background-color: #1B2130;
	text-transform: capitalize;
	letter-spacing: 2px;
	padding : 5px 5px;
	border-radius: 2px;
}
#designed h2{
	position: absolute;
	top : -30px;
	color : white;
	background-color: #1B2130;
	padding: 6px 8px ;
	letter-spacing: 3px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 3px;
}
@media screen and (max-width : 1120px) {
	#body100{
		height : 120px;
	}
	#logo{
		height : 120px;
		width : 50%;
	}
	#block{
		width : 250px;
		height: 125px;
	}
	ul#nav{
		height : 110px;
		display: flex;
		padding-top: 0;
		margin-top : 0px;
		padding-top: 65px;
		box-sizing: border-box;
		margin-bottom: 0px;
		justify-content: space-between;
		align-items: flex-start;
		line-height: 1;
	}
	
	.nav a{
		padding : 1.5px 7.5px;
		box-sizing: border-box;
		border-radius: 4px;
		font-size: 0.8rem;
	}
}
	@media screen and (max-width : 1090px){
		#haircut{
			width : 80%;
			height: auto;
		}
		#haircut img{
			width : 150px;
		}
		.features li{
			width : 150px;
			padding : 6px 0px 4px;
		}
		.text_info li{
			width : 150px;
			font-size : 12px;
		}
	}
	@media screen and (max-width : 905px) {
		#body100{
			height : auto;
		}
		#block{
			width : 230px;
			font-size: 50px;
		}
		ul#nav{
			padding-top: 70px;
		}
		.nav a{
			padding : 2px 5px;
			letter-spacing: 0.03em;
			border-radius: 3px;
			font-size: 0.6rem;
		}
		#social_links{
			font-size: 8px;
		}
		
	}
	
	@media screen and (max-width : 800px) {
		#haircut img{
			width : 125px;
		}
		.features li {
			width : 125px;
			padding : 4px 0px 2px;
		}
		.text_info li{
			width : 125px;
			font-size: 11px;
		}
		ul.features{
			margin-bottom : 4px;
		}
		ul.text_info{
			margin : 4px 0px;
		}
	}
@media screen and (max-width : 675px) {
	#block{
		width : 200px;
		font-size: 40px;
	}
	ul#nav{
		padding-top: 50px;
	}
	.nav a{
		padding : 1px 2.5px;
		letter-spacing: 0.02em;
		border-radius: 2px;
		font-size: 0.56rem;
	}
	#main_pic{
		height : 250px;
		border : 1px solid #5fb3bd;
	}
	#main_pic img{
		height : 250px;
	}
	#img{
		height : 250px;
	}
	#quote1{
		height: 250px;
		
		padding-top: 40px;
		font-size : 1rem;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	#haircut img{
		width : 100px;
	}
	.features li{
		width : 100px;
		padding : 3px 0px 1.5px; 
	}
	.text_info li{
		width : 100px;
		font-size: 9px;
	}
	ul.features{
		margin-bottom: 2px;
	}
	ul.text_info{
		margin : 2px 0px;
	}
}
@media screen  and ( max-width : 600px) {
	#nav_bar{		
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height : 120px;
	}
	#logo{
		width : 25%;
		height : 120px;
	}
	#block{
		margin-top : 40px;
		height : 90px;
		font-size: 30px;
		width : 120px;

	}
	#nav_index{
		height : 120px;
		width : 75%;
	}
	ul#nav{
		height : 60px;
		padding-top : 70px;
	}
	.nav a{
		padding :1px 2px;
		border: 1.5px;
		letter-spacing: 0.025em;
	}
	#haircut{
		/* height : 415px; */
		width : 80%;
		display: flex;
		flex-direction: row;
		box-sizing: border-box;
		padding-top: 0px;
		height: 416px;
	}
	ul.feature_images{
		flex-direction: column;
		justify-content: space-between;
		width : 30%;
		margin-top: 0px;
		height: 416px;
	}
	#haircut img{
		height : 100px;
		width : 100px;
	}
	ul.features{
		flex-direction: column;
		justify-content: space-between;
		width : 15%;
		height : 414px;
		margin-top: 0px;
		box-sizing: border-box;
	}
	.features li {
		font-size: 12px;
		/* padding: 2px; */
		width: 100%;
		height: 100px;
		align-items: center;
		display: flex;
		padding-top: 0px;
		padding-bottom: 0px;
		box-sizing: border-box;
		text-align: left;
		font-weight: bold;

	}
	#text_info{
		
		width : 55%;
		box-sizing: border-box;
		
		/* padding: 2px;; */
	}

	ul.text_info{
		flex-direction: column;
		width : 100%;
		justify-content: space-between;
		/* margin-left: 10px; */
		box-sizing: border-box;
		height: 416px;
		}
	.text_info li{
		font-size: 11px;
		height : 100px;
		width : 100%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		padding-left: 12px;

	}
	#experiences{
		flex-direction: column;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
	#featured{
		width : 100%;
		padding :8px;
		border : 4px solid #5fb3bd;
		margin-bottom: 16px;
		font-size: 12px;
	}
	#featured p{
		font-size: 12px;
		margin-bottom: 8px;
		margin-top: 8px;
	}
	#hairstyle{
		flex-direction: column;
		margin-left: 0px;
		width : 100%;
	}
	#designed{
		border : 4px solid #5fb3bd;
		padding : 8px;
		font-size: 11px;
	}
	#bald{
		border : 4px solid #5fb3bd;
		border-radius: 5px;
		margin-bottom: 10px;
	}
	#bald p{
		font-size: 11px;
	}
	h3{
		margin-top : 6px;
		margin-bottom: 6px;
	}
	#featured h2{
		top : -30px;
	}
	
}
@media screen and (max-width : 425px) {
	#nav_bar{
		flex-direction: column-reverse;
		height : auto;
	}
	#logo{
		width : 100%;
		height: auto;
		padding-top : 15px;
		padding-bottom: 5px;
	}
	#block{
		width : 50%;
		text-align: center;
		margin : auto;
	}
	#nav_index{
		height : auto;
		width: 100%;
	}
	ul#nav{
		height : auto;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0px;
	}
	.nav a{
		padding : 1.5px 3px;
		font-size: 7px;
	}
	#main_pic{
		height : 150px;
		margin-bottom: 24px;
		margin-top: 24px;
	}
	#main_pic img{
		height : 150px;
		width : 100%;

	}
	#img{
		width : 45%;
		height : 125px;

	}
	#quote1{
		width : 55%;
		padding-top: 0px;
		height : 150px;
		font-size: 10px;
		display: flex;
		align-items: center;
	}
	#haircut{
		height : 330px;
	}
	ul.feature_images{
		width : 20%;
		height : auto;
	}
	#haircut img{
		height : 80px;
		width : 65px;
	}
	#One, #two #three li {
		width : 80px;
	}
	ul.features{
		height : 330px;
		width : 30%;
		margin-left: 40px;
	}
	.features li{
		font-size: 9px;
	}
	#text_info{
		width:55%;
	}
	ul.text_info{
		width : 100%;
		height : 330px;
	}
	.text_info li{
		font-size: 7px;
		height : 80px;
	}
}
@media  screen and (max-width : 350px) {
	#bald{
		margin-top : 20px;
	}
	#bald img {
		height : 250px;
		width : 130px;
	}
	#bald p{
		padding-left: 125px;
		font-size: 7px;
		padding-top: 0px;
		display: flex;
		align-items: center;
	}

	
	
}

	